name: Lint

on:
  push:
    branches:
      - "*"

permissions:
  contents: read

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 25
      - run: yarn install
      - run: yarn lint
